<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.adobe.AdjustAnchors.calibrateMode</key>
	<true/>
	<key>com.adobe.AdjustAnchors.calibrateModeStrings</key>
	<dict>
		<key>group1.baseInput</key>
		<string></string>
		<key>group1.markInput</key>
		<string></string>
		<key>group2.baseInput</key>
		<string></string>
		<key>group2.markInput</key>
		<string></string>
		<key>group3.baseInput</key>
		<string>A</string>
		<key>group3.markInput</key>
		<string>acute.cap breve.cap caron.cap dieresis.cap tilde.cap circumflex.cap macron.cap hungarumlaut.cap dotaccent.cap grave.cap ring.cap </string>
		<key>group4.baseInput</key>
		<string></string>
		<key>group4.markInput</key>
		<string></string>
	</dict>
	<key>com.adobe.AdjustAnchors.extraGlyphs</key>
	<string></string>
	<key>com.adobe.AdjustAnchors.extraSidebearings</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>com.adobe.AdjustAnchors.lineHeight</key>
	<integer>200</integer>
	<key>com.adobe.AdjustAnchors.posSize</key>
	<array>
		<real>-1031</real>
		<real>-194</real>
		<real>1700</real>
		<real>724</real>
	</array>
	<key>com.adobe.AdjustAnchors.textSize</key>
	<integer>150</integer>
	<key>com.asaumierdemers.BroadNibBackground.angle</key>
	<integer>21</integer>
	<key>com.asaumierdemers.BroadNibBackground.color</key>
	<array>
		<real>0.80589999999999995</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.84709999999999996</real>
	</array>
	<key>com.asaumierdemers.BroadNibBackground.height</key>
	<integer>300</integer>
	<key>com.asaumierdemers.BroadNibBackground.shape</key>
	<integer>0</integer>
	<key>com.asaumierdemers.BroadNibBackground.step</key>
	<integer>7</integer>
	<key>com.asaumierdemers.BroadNibBackground.width</key>
	<integer>13</integer>
	<key>com.blackfoundry.Properties.display</key>
	<false/>
	<key>com.mechanic.checkForUpdate</key>
	<integer>0</integer>
	<key>com.mechanic.lastUpdateCheck</key>
	<real>1579088046.0639141</real>
	<key>com.mechanic.singleExtensionItems</key>
	<array/>
	<key>com.mechanic.urlstreams</key>
	<array>
		<string>http://extensionstore.robofont.com/data.json</string>
		<string>https://robofont-mechanic.github.io/mechanic-2-server/api/v2/registry.json</string>
	</array>
	<key>com.ninastoessinger.word-o-mat.case</key>
	<integer>2</integer>
	<key>com.ninastoessinger.word-o-mat.limitToCharset</key>
	<string>True</string>
	<key>com.ninastoessinger.word-o-mat.markColor</key>
	<string>None</string>
	<key>com.ninastoessinger.word-o-mat.matchMode</key>
	<string>text</string>
	<key>com.ninastoessinger.word-o-mat.matchPattern</key>
	<string></string>
	<key>com.ninastoessinger.word-o-mat.maxLength</key>
	<integer>15</integer>
	<key>com.ninastoessinger.word-o-mat.minLength</key>
	<integer>3</integer>
	<key>com.ninastoessinger.word-o-mat.source</key>
	<integer>4</integer>
	<key>com.ninastoessinger.word-o-mat.wordCount</key>
	<integer>100</integer>
	<key>com.timoklaavo.scalingEditTool.selectOnly</key>
	<true/>
	<key>com.timoklaavo.scalingEditTool.simplified</key>
	<false/>
	<key>com.typemytype.glyphBuilder.markColor</key>
	<array>
		<real>0.43619999999999998</real>
		<real>0.0</real>
		<real>0.4047</real>
		<real>1</real>
	</array>
	<key>com.typemytype.glyphBuilder.overWrite</key>
	<integer>1</integer>
	<key>com.typemytype.glyphBuilder.useMarkColor</key>
	<true/>
	<key>com.typemytype.outliner.addLeft</key>
	<integer>1</integer>
	<key>com.typemytype.outliner.addOriginal</key>
	<integer>0</integer>
	<key>com.typemytype.outliner.addRight</key>
	<integer>1</integer>
	<key>com.typemytype.outliner.cap</key>
	<string>Round</string>
	<key>com.typemytype.outliner.closeOpenPath</key>
	<integer>1</integer>
	<key>com.typemytype.outliner.connectmiterLimit</key>
	<integer>0</integer>
	<key>com.typemytype.outliner.contrast</key>
	<integer>0</integer>
	<key>com.typemytype.outliner.contrastAngle</key>
	<integer>0</integer>
	<key>com.typemytype.outliner.corner</key>
	<string>Round</string>
	<key>com.typemytype.outliner.fill</key>
	<integer>1</integer>
	<key>com.typemytype.outliner.filterDoubles</key>
	<true/>
	<key>com.typemytype.outliner.keepBounds</key>
	<integer>0</integer>
	<key>com.typemytype.outliner.miterLimit</key>
	<integer>1</integer>
	<key>com.typemytype.outliner.preserveComponents</key>
	<true/>
	<key>com.typemytype.outliner.preview</key>
	<integer>0</integer>
	<key>com.typemytype.outliner.stroke</key>
	<integer>1</integer>
	<key>com.typemytype.outliner.thickness</key>
	<integer>15</integer>
	<key>com.typemytype.ramsaySt.data</key>
	<dict>
		<key>-</key>
		<array>
			<string>n</string>
			<string>H</string>
		</array>
		<key>A</key>
		<array>
			<string>H</string>
			<string>V</string>
		</array>
		<key>B</key>
		<array>
			<string>P</string>
			<string>D</string>
		</array>
		<key>C</key>
		<array>
			<string>c</string>
			<string>G</string>
		</array>
		<key>D</key>
		<array>
			<string>B</string>
			<string>P</string>
		</array>
		<key>E</key>
		<array>
			<string>B</string>
			<string>F</string>
		</array>
		<key>F</key>
		<array>
			<string>P</string>
			<string>E</string>
		</array>
		<key>G</key>
		<array>
			<string>C</string>
			<string>O</string>
		</array>
		<key>H</key>
		<array>
			<string>I</string>
			<string>P</string>
		</array>
		<key>I</key>
		<array>
			<string>J</string>
			<string>H</string>
		</array>
		<key>J</key>
		<array>
			<string>j</string>
			<string>I</string>
		</array>
		<key>K</key>
		<array>
			<string>k</string>
			<string>I</string>
		</array>
		<key>L</key>
		<array>
			<string>I</string>
			<string>H</string>
		</array>
		<key>M</key>
		<array>
			<string>H</string>
			<string>N</string>
		</array>
		<key>N</key>
		<array>
			<string>M</string>
			<string>V</string>
		</array>
		<key>O</key>
		<array>
			<string>C</string>
			<string>o</string>
		</array>
		<key>P</key>
		<array>
			<string>R</string>
			<string>p</string>
		</array>
		<key>Q</key>
		<array>
			<string>O</string>
			<string>G</string>
		</array>
		<key>R</key>
		<array>
			<string>B</string>
			<string>P</string>
		</array>
		<key>S</key>
		<array>
			<string>C</string>
			<string>s</string>
		</array>
		<key>T</key>
		<array>
			<string>I</string>
			<string>H</string>
		</array>
		<key>U</key>
		<array>
			<string>u</string>
			<string>H</string>
		</array>
		<key>V</key>
		<array>
			<string>v</string>
			<string>W</string>
		</array>
		<key>W</key>
		<array>
			<string>w</string>
			<string>V</string>
		</array>
		<key>X</key>
		<array>
			<string>x</string>
			<string>Y</string>
		</array>
		<key>Y</key>
		<array>
			<string>y</string>
			<string>V</string>
		</array>
		<key>Z</key>
		<array>
			<string>z</string>
			<string>X</string>
		</array>
		<key>a</key>
		<array>
			<string>n</string>
			<string>e</string>
		</array>
		<key>b</key>
		<array>
			<string>d</string>
			<string>p</string>
		</array>
		<key>c</key>
		<array>
			<string>e</string>
			<string>C</string>
		</array>
		<key>d</key>
		<array>
			<string>q</string>
			<string>b</string>
		</array>
		<key>e</key>
		<array>
			<string>o</string>
			<string>c</string>
		</array>
		<key>f</key>
		<array>
			<string>i</string>
			<string>t</string>
		</array>
		<key>g</key>
		<array>
			<string>o</string>
			<string>q</string>
		</array>
		<key>h</key>
		<array>
			<string>l</string>
			<string>n</string>
		</array>
		<key>i</key>
		<array>
			<string>period</string>
			<string>j</string>
		</array>
		<key>j</key>
		<array>
			<string>i</string>
			<string>period</string>
		</array>
		<key>j.alt</key>
		<array>
			<string>g</string>
			<string> k</string>
		</array>
		<key>k</key>
		<array>
			<string>h</string>
			<string>K</string>
		</array>
		<key>l</key>
		<array>
			<string>h</string>
			<string>k</string>
		</array>
		<key>m</key>
		<array>
			<string>n</string>
			<string>w</string>
		</array>
		<key>n</key>
		<array>
			<string>h</string>
			<string>m</string>
		</array>
		<key>o</key>
		<array>
			<string>c</string>
			<string>O</string>
		</array>
		<key>p</key>
		<array>
			<string>q</string>
			<string>P</string>
		</array>
		<key>q</key>
		<array>
			<string>d</string>
			<string>p</string>
		</array>
		<key>r</key>
		<array>
			<string>s</string>
			<string>n</string>
		</array>
		<key>s</key>
		<array>
			<string>e</string>
			<string>S</string>
		</array>
		<key>t</key>
		<array>
			<string>s</string>
			<string>f</string>
		</array>
		<key>u</key>
		<array>
			<string>v</string>
			<string>n</string>
		</array>
		<key>v</key>
		<array>
			<string>u</string>
			<string>w</string>
		</array>
		<key>w</key>
		<array>
			<string>v</string>
			<string>W</string>
		</array>
		<key>x</key>
		<array>
			<string>y</string>
			<string>X</string>
		</array>
		<key>y</key>
		<array>
			<string>v</string>
			<string>Y</string>
		</array>
		<key>z</key>
		<array>
			<string>x</string>
			<string>Z</string>
		</array>
	</dict>
	<key>com.typemytype.ramsaySt.fillColor</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.69999999999999996</real>
	</array>
	<key>com.typemytype.ramsaySt.showPreview</key>
	<integer>0</integer>
	<key>com.typemytype.ramsaySt.strokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.0</real>
		<real>0.0</real>
		<real>1</real>
	</array>
	<key>com.typemytype.toolbox.autohint</key>
	<integer>0</integer>
	<key>com.typemytype.toolbox.autohintSettings</key>
	<dict>
		<key>addTTFAutoHintInfo</key>
		<integer>0</integer>
		<key>dwClearType</key>
		<integer>0</integer>
		<key>fallbackScript</key>
		<integer>0</integer>
		<key>gdiClearType</key>
		<integer>1</integer>
		<key>grayScale</key>
		<integer>0</integer>
		<key>hintRangeMaximum</key>
		<integer>50</integer>
		<key>hintRangeMinimum</key>
		<integer>8</integer>
		<key>hintingLimit</key>
		<integer>200</integer>
		<key>noHintingLimit</key>
		<integer>0</integer>
		<key>noXHeightIncreaseLimit</key>
		<integer>0</integer>
		<key>overRideFontLicense</key>
		<integer>0</integer>
		<key>preHinting</key>
		<integer>0</integer>
		<key>symbolFont</key>
		<integer>0</integer>
		<key>xHeightIncreaseLimit</key>
		<integer>14</integer>
	</dict>
	<key>com.typemytype.toolbox.decompose</key>
	<integer>0</integer>
	<key>com.typemytype.toolbox.generateSuffix</key>
	<string></string>
	<key>com.typemytype.toolbox.globalCSSPreview</key>
	<string></string>
	<key>com.typemytype.toolbox.htmlPreview</key>
	<string>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</string>
	<key>com.typemytype.toolbox.interpolate_to_fit_axes_extremes</key>
	<integer>0</integer>
	<key>com.typemytype.toolbox.otf</key>
	<integer>1</integer>
	<key>com.typemytype.toolbox.pfa</key>
	<integer>0</integer>
	<key>com.typemytype.toolbox.release_mode</key>
	<integer>0</integer>
	<key>com.typemytype.toolbox.remove_overlap</key>
	<integer>0</integer>
	<key>com.typemytype.toolbox.ttf</key>
	<integer>1</integer>
	<key>com.typesupply.MM4.applicationFirstRun</key>
	<integer>-1</integer>
	<key>com.typesupply.MM4.contextStrings</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>leftPattern</key>
			<dict>
				<key>matches</key>
				<string>any</string>
				<key>rules</key>
				<array>
					<dict>
						<key>comparison</key>
						<string>is</string>
						<key>type</key>
						<string>unicodeCategory</string>
						<key>value</key>
						<string>Lu</string>
					</dict>
				</array>
			</dict>
			<key>longContext</key>
			<array>
				<string>H</string>
				<string>H</string>
				<string>$LEFT</string>
				<string>$RIGHT</string>
				<string>H</string>
				<string>O</string>
				<string>H</string>
				<string>O</string>
				<string>O</string>
			</array>
			<key>name</key>
			<string>Uppercase, Uppercase</string>
			<key>pseudoUnicodes</key>
			<true/>
			<key>rightPattern</key>
			<dict>
				<key>matches</key>
				<string>any</string>
				<key>rules</key>
				<array>
					<dict>
						<key>comparison</key>
						<string>is</string>
						<key>type</key>
						<string>unicodeCategory</string>
						<key>value</key>
						<string>Lu</string>
					</dict>
				</array>
			</dict>
			<key>shortContext</key>
			<array>
				<string>H</string>
				<string>$LEFT</string>
				<string>$RIGHT</string>
				<string>H</string>
			</array>
			<key>suffixMatching</key>
			<true/>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>leftPattern</key>
			<dict>
				<key>matches</key>
				<string>any</string>
				<key>rules</key>
				<array>
					<dict>
						<key>comparison</key>
						<string>is</string>
						<key>type</key>
						<string>unicodeCategory</string>
						<key>value</key>
						<string>Lu</string>
					</dict>
				</array>
			</dict>
			<key>longContext</key>
			<array>
				<string>$LEFT</string>
				<string>$RIGHT</string>
				<string>n</string>
				<string>o</string>
				<string>n</string>
				<string>o</string>
				<string>o</string>
			</array>
			<key>name</key>
			<string>Uppercase, lowercase</string>
			<key>pseudoUnicodes</key>
			<true/>
			<key>rightPattern</key>
			<dict>
				<key>matches</key>
				<string>any</string>
				<key>rules</key>
				<array>
					<dict>
						<key>comparison</key>
						<string>is</string>
						<key>type</key>
						<string>unicodeCategory</string>
						<key>value</key>
						<string>Ll</string>
					</dict>
				</array>
			</dict>
			<key>shortContext</key>
			<array>
				<string>n</string>
				<string>$LEFT</string>
				<string>$RIGHT</string>
				<string>n</string>
			</array>
			<key>suffixMatching</key>
			<true/>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>leftPattern</key>
			<dict>
				<key>matches</key>
				<string>any</string>
				<key>rules</key>
				<array>
					<dict>
						<key>comparison</key>
						<string>is</string>
						<key>type</key>
						<string>unicodeCategory</string>
						<key>value</key>
						<string>Ll</string>
					</dict>
				</array>
			</dict>
			<key>longContext</key>
			<array>
				<string>n</string>
				<string>n</string>
				<string>$LEFT</string>
				<string>$RIGHT</string>
				<string>n</string>
				<string>o</string>
				<string>n</string>
				<string>o</string>
				<string>o</string>
			</array>
			<key>name</key>
			<string>lowercase, Uppercase</string>
			<key>pseudoUnicodes</key>
			<true/>
			<key>rightPattern</key>
			<dict>
				<key>matches</key>
				<string>any</string>
				<key>rules</key>
				<array>
					<dict>
						<key>comparison</key>
						<string>is</string>
						<key>type</key>
						<string>unicodeCategory</string>
						<key>value</key>
						<string>Lu</string>
					</dict>
				</array>
			</dict>
			<key>shortContext</key>
			<array>
				<string>n</string>
				<string>$LEFT</string>
				<string>$RIGHT</string>
				<string>n</string>
			</array>
			<key>suffixMatching</key>
			<true/>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>leftPattern</key>
			<dict>
				<key>matches</key>
				<string>any</string>
				<key>rules</key>
				<array>
					<dict>
						<key>comparison</key>
						<string>is</string>
						<key>type</key>
						<string>unicodeCategory</string>
						<key>value</key>
						<string>Ll</string>
					</dict>
				</array>
			</dict>
			<key>longContext</key>
			<array>
				<string>n</string>
				<string>n</string>
				<string>$LEFT</string>
				<string>$RIGHT</string>
				<string>n</string>
				<string>o</string>
				<string>n</string>
				<string>o</string>
				<string>o</string>
			</array>
			<key>name</key>
			<string>lowercase, lowercase</string>
			<key>pseudoUnicodes</key>
			<true/>
			<key>rightPattern</key>
			<dict>
				<key>matches</key>
				<string>any</string>
				<key>rules</key>
				<array>
					<dict>
						<key>comparison</key>
						<string>is</string>
						<key>type</key>
						<string>unicodeCategory</string>
						<key>value</key>
						<string>Ll</string>
					</dict>
				</array>
			</dict>
			<key>shortContext</key>
			<array>
				<string>n</string>
				<string>$LEFT</string>
				<string>$RIGHT</string>
				<string>n</string>
			</array>
			<key>suffixMatching</key>
			<true/>
		</dict>
	</array>
	<key>com.typesupply.MM4.viewSettings.edit.singleFont.singlePair.glyphInfoVisibleByDefault</key>
	<true/>
	<key>com.typesupply.MM4.viewSettings.edit.singleFont.singlePair.groupPreviewVisibleByDefault</key>
	<false/>
	<key>com.typesupply.MM4.viewSettings.edit.singleFont.singlePair.groupStackVisibleByDefault</key>
	<false/>
	<key>com.typesupply.MM4.viewSettings.general.groupPreviewPointSize</key>
	<integer>25</integer>
	<key>com.typesupply.MM4.windowSettings.main.pairListOnLeft</key>
	<true/>
	<key>com.typesupply.MM4.windowSettings.main.pairListVisibleByDefault</key>
	<true/>
	<key>com.typesupply.MM4.windowSettings.main.typingPaneVisibleByDefault</key>
	<true/>
	<key>com.typesupply.RoboREPL.bannerGreeting</key>
	<string>Welcome to RoboREPL! Type "help" for help.</string>
	<key>com.typesupply.RoboREPL.colorBackground</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>com.typesupply.RoboREPL.colorCode</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>com.typesupply.RoboREPL.colorStderr</key>
	<array>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>com.typesupply.RoboREPL.colorStdout</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<key>com.typesupply.RoboREPL.fontName</key>
	<string>Menlo-Regular</string>
	<key>com.typesupply.RoboREPL.fontSize</key>
	<integer>20</integer>
	<key>com.typesupply.RoboREPL.showInvisibleCharacters</key>
	<false/>
	<key>com.typesupply.RoboREPL.startupCode</key>
	<string># This script will be executed when the interpreter is started.
# It will be executed in the same namespace as your later code
# will be executed in, so you can define variables, import
# modules and anything else that you want.

CF = CurrentFont
CG = CurrentGlyph
AF = AllFonts
OF = OpenFont
NF = NewFont
</string>
	<key>com.typesupply.RoboREPL.tabString</key>
	<string>  </string>
	<key>com.typesupply.RoboREPL.userThemes</key>
	<dict/>
	<key>com.typesupply.RoboREPL.windowHeight</key>
	<integer>24</integer>
	<key>com.typesupply.RoboREPL.windowWidth</key>
	<integer>80</integer>
	<key>com.typesupply.prepolator.applicationFirstRun</key>
	<integer>1</integer>
	<key>com.typesupply.prepolator.glyphEditViewColorRotation</key>
	<array>
		<array>
			<integer>1</integer>
			<real>0.40000000000000002</real>
			<integer>0</integer>
			<real>0.5</real>
		</array>
		<array>
			<real>0.29999999999999999</real>
			<real>0.69999999999999996</real>
			<integer>0</integer>
			<real>0.5</real>
		</array>
		<array>
			<real>0.20000000000000001</real>
			<real>0.45000000000000001</real>
			<real>0.90000000000000002</real>
			<real>0.5</real>
		</array>
		<array>
			<integer>1</integer>
			<real>0.12</real>
			<real>0.089999999999999997</real>
			<real>0.5</real>
		</array>
		<array>
			<real>0.69999999999999996</real>
			<real>0.13</real>
			<real>0.93999999999999995</real>
			<real>0.5</real>
		</array>
		<array>
			<real>0.90000000000000002</real>
			<integer>1</integer>
			<integer>0</integer>
			<real>0.5</real>
		</array>
	</array>
	<key>com.typesupply.prepolator.glyphEditViewIncompatibleBackgroundColor</key>
	<array>
		<real>1</real>
		<real>0.55000000000000004</real>
		<real>0.45000000000000001</real>
		<real>1</real>
	</array>
	<key>com.typesupply.prepolator.showAllStartPointLines</key>
	<integer>0</integer>
	<key>com.typesupply.prepolator.showContourNumber</key>
	<integer>1</integer>
	<key>com.typesupply.prepolator.showSelectedStartPointLines</key>
	<integer>1</integer>
	<key>com.typesupply.prepolator.testAllGlyphsAfterFontListChange</key>
	<false/>
	<key>com.typesupply.prepolator.useGlyphCompatibilityIndicatorShapes</key>
	<false/>
	<key>de.frgr.Rotator.lock</key>
	<false/>
	<key>de.frgr.Rotator.round</key>
	<false/>
	<key>de.frgr.Rotator.steps</key>
	<integer>5</integer>
	<key>de.frgr.Rotator.x</key>
	<integer>274</integer>
	<key>de.frgr.Rotator.y</key>
	<integer>40</integer>
	<key>nl.thomjanssen.PDF.FileName</key>
	<string>RoboFontSpaceCenter</string>
	<key>nl.thomjanssen.PDF.Folder</key>
	<integer>0</integer>
	<key>nl.thomjanssen.PDF.FolderPath</key>
	<string>/Users/jansindler/Desktop</string>
	<key>nl.thomjanssen.PDF.OpenKey</key>
	<integer>0</integer>
	<key>nl.thomjanssen.PDF.TextLimit</key>
	<integer>5</integer>
	<key>nl.thomjanssen.PDF.TimeStamp</key>
	<string>%y%m%d_%H%M%S</string>
	<key>nl.thomjanssen.PDF.TimeStampOnOff</key>
	<integer>0</integer>
</dict>
</plist>
